<!-- order.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
    <h2>Order Date: <i><%= order.date %></i></h2>
    <section class="product-list">
        <% for (let i = 0; i < order.order.length; i++) { %>
            <section>
                <form action="/tokens/orders/<%= order._id %>" method="post">
                    <img class="token-img" src="/assets/img/token.png" alt="token">
                    <label for="<%= order.order[i].name %>">
                        <h3><%= order.order[i].name %></h3>
                    </label>
                    <input type="hidden" name="usedtoken" value="<%= order.order[i].name %>">
                    <input class="product-submit" type="submit" value="Use Token" <% if (order.order[i].used === true) { %> disabled <% } %>>
                </form>
            </section>
        <% } %>
    </section>
</body>
</html>